# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory

data\camp.csv
data\enquiry.csv
data\staff.csv
data\student.csv
data\suggestion.csv
data\uniqueid.csv
